<div class="main">
	<div class="main__container">
		<div class="main__header">
			<div class="main__header--logo">
				<img src="/themes/demo/assets/images/vintana-logo.png" class="fr-fic fr-dii">
			</div>
		</div>
		<div class="main__bottom-text">
			<h1>LUNA</h1>
			<p>EUROPE THROUGH THE EYES OF AN INDIO GENIUS</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="content__container">
		<div class="content__text">
			<span>WELCOME TO VINTANA.PH</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula laoreet lacus sed venenatis. Nunc sed faucibus leo. Sed eget nisl fermentum, imperdiet enim eget, malesuada nisl. Aliquam ultricies ex et condimentum hendrerit. Proin vulputate quis nisi vitae accumsan. Etiam quam lectus, pulvinar sit amet lobortis a, accumsan et mauris. Cras dignissim fermentum tellus, sit amet auctor est congue a. Nunc rutrum lorem a gravida ornare. Nunc magna magna, tempus ut tempor eget, iaculis in felis. Donec ac iaculis leo. Nunc egestas purus sed ante pharetra laoreet. Pellentesque sit amet tempus metus. Fusce iaculis, ante ac pulvinar pellentesque, velit sem sodales ante, at dapibus nisl erat nec turpis. Suspendisse ac imperdiet mi. Nam sed gravida mauris.</p>
		</div>
		<div class="content__blogs">
			<div class="content__blogs--wrapper row">
				<div class="square blog-post-1">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
				<div class="square blog-post-2">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
				<div class="square blog-post-3">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
				<div class="square blog-post-4">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
				<div class="square blog-post-5">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
				<div class="square blog-post-6">
					<div class="square__panel">
						<div class="square__on-hover"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="content__updates">
			<span>SIGN UP FOR UPDATES</span>
			<form>
				<input type="text" name="email" placeholder="E-MAIL ADDRESS">
				<button>SIGN UP</button>
			</form>
		</div>
	</div>
</div>

<div class="footer">
	<div class="footer__container">
		<div class="footer__logo">
			<img src="/themes/demo/assets/images/vintana-logo.png">
		</div>
		<div class="footer__text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin convallis nibh placerat hendrerit. Phasellus purus sem, facilisis non mauris et, auctor ornare quam. Suspendisse maximus dui semper orci pulvinar.
			</p>
		</div>
	</div>
</div>