==
<!DOCTYPE html>
{% spaceless %}
<html>
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ [
            '@framework.extras',
            'assets/vendor/bootstrap/css/bootstrap.css',
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/css/home.scss'
        ]|theme }}" rel="stylesheet">
    </head>
    <body class="body">
        <section id="layout-content">
            {% page %}
        </section>
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
{% endspaceless %}