@font-face {
  font-family: 'Century';
  src: url("../../assets/fonts/CENTURY.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url("../../assets/fonts/OpenSans-Regular.ttf") format('truetype');
}

.main {
  display: block;
  background-image: url("../../assets/images/vintana-header.jpg");
  background-size: cover;
  height: 1009px;
  position: relative;
  &__container {
    padding: 49px 140px 49px 140px;
  }
  &__header {
    width: 100%;
   // float: left;
    &--logo {
     // float: left;
      img {
        width: 256px;
        height: 155px;
      }
    }
  }
  &__bottom-text {
    width: calc(100% - 280px);
    position: absolute;
    bottom: 71px;
    color: white;
    text-align: center;
    margin: 0;
    h1 {
      font-family: 'Century', sans-serif;
      font-size: 235px;
      margin-bottom: 32px;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.87);
      max-height: 220px;
    }
    p {
      font-family: 'Century', sans-serif;
      font-size: 28px;
      margin: 0;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.87);
    }
  }
}

.content {
  &__container {
    margin: 91px 206px;
  }
  &__text {
    padding-left: 26px;
    padding-right: 26px;
    text-align: center;
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 39px;
      margin-bottom: 88px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      padding-top: 55px;
      padding-bottom: 65px;
      margin: 0;
    }
  }
  &__blogs {
    text-align: center;
  }
  &__updates {
    text-align: center;
    margin-top: 47px;
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 39px;
      margin-bottom: 88px;
    }
    form {
      margin-top: 64px;
      input {
        width: 884px;
        height: 50px;
        border: #000 2px solid;
        margin-right: 16px;
        padding-left: 46px;
        &::placeholder {
          font-family: 'Open Sans', sans-serif;
          font-style: italic;
          font-size: 18px;
          color: #343434;
          opacity: 0.5;
        }
      }
      button {
        width: 224px;
        height: 52px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        background-color: #900020;
        border: none;
      }
    }
  }
}

.footer {
  height: 224px;
  background-color: #900020;
  &__container {
    margin: 91px 206px 0 206px;
    padding-top: 36px;
    text-align: center;
  }
  &__logo {
    // float: left;
    img {
      width: 160px;
      height: 97px;
    }
    margin-bottom: 14px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: white
  }
}

.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__on-hover {
    height: 170px;
    width: 170px;
    line-height: 150px;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px #fff solid;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
  }
  &__panel:hover &__on-hover {
    opacity: 1;
    transition: .5s ease;
  }
}
//
//.square:hover {
//  filter: grayscale(100%);
//}

.blog-post-1 { background-image: url("../../assets/images/1.jpeg"); }
.blog-post-2 { background-image: url("../../assets/images/2.jpg"); }
.blog-post-3 { background-image: url("../../assets/images/3.jpg"); }
.blog-post-4 { background-image: url("../../assets/images/4.jpeg"); }
.blog-post-5 { background-image: url("../../assets/images/5.jpg"); }
.blog-post-6 { background-image: url("../../assets/images/6.jpeg"); }
